.center-text {
    /* TODO 3.1: Align the text center or right */
    text-align: center;

    /* TODO 3.2: Change the color of the font to your favorite color */
    color: #931313cf;

    /* TODO 3.3: Make the font thicker */
    font-weight: bolder;

    /* TODO 3.4: Increase the font size*/
    font-size: 22px;

    /* TODO 3.5: Add an underline to the text */
    text-decoration: underline;
}

.paragraph-style {
    /* TODO 3.6: Make the font italic */
    font-style: italic;

    /* TODO 3.7: Change the font to your preferred font-family */
    font-family: 'Times New Roman', Times, serif;

    /* TODO 3.8: Increase the space between lines */
    line-height: 2;
}

.box {
  /* TODO 3.9: Set the width and height of the div. Try out different units: px, em, %, in, rem */
  width: 300px;
  height: 250px; 

  /* TODO 3.10: Change the background color of the div and make it 50% transparent */
  background-color: rgba(6, 89, 148, 0.5);

  /* TODO 3.11: Play around with the margin, padding, and border. Set the size of specific sides */
  margin: 12px;
  padding: 20px;
  border: 5px double #debe0c; 
}